
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flayy.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Flayy WhatsApp DB"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".ListUserActivity" />
        <activity android:name=".DeleteUserActivity" />
        <activity android:name=".OwnerToolsActivity" />
    </application>

</manifest>
